// css for boxes on front page
#box1, #box2, #box3 {
  background-color:white;
  border-radius: 5px;
  padding:20px;
  -webkit-box-shadow: 0px 2px 2px #888;
}
// asjusting bootstraps container css
.container{
  text-align:center;
}
/* I am using the default well class to create boxes...
 * this adjusts them so that the drop shadow works that wau
 * below we have a class with the normal .wells css re-included
 */
.well{
  -webkit-box-shadow: 0px 2px 2px #888;
  margin-bottom:0px;
}

body{
  background-color:#ddd;
}
// for links in the titlebar etc- need some spacing on those
h3 a {
  margin-left: 30px;
}
// navbar css for the basic_layout page,
#nav {
  background-color: #eee;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px #888;
}
// adjusting the span classes so that they center on the page
.span5{
  margin-left: 25%;
  margin-right: 25%;
}
.span9{
  margin-left: 25%;
  margin-right: 25%;
}
// this is the center box on the basic_layout page that the 'learing stuff' goes in
#content_box{
  padding-bottom:50px;
  background-color:white;
  text-align:left;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px #888;
}
// this is the css to make the 'hide' buttons go to the right
#hide{
  float:right;
}
// css to make the stuff inisde a content box, that is not a heading get indented
#content_box h3, #content_box p, #content_box ul li{
  margin-left:50px;
}
// we also want the sub headers to be colored differently
#content_box h3 {
  color:#888;
}
// the content boxs lists should look different (be hidden?) 
// this gives them the "normal" .well css
#content_box ul {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
// if there is no link this class greys the color on the link
.no_link{
  color:#bbb;
}
